<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robotiq_arg2f_85_gazebo" params="prefix">

    <gazebo reference="${prefix}right_outer_finger">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_outer_finger">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_inner_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_inner_knuckle">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_inner_finger">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}left_inner_finger">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}right_inner_finger_pad">
      <selfCollide>true</selfCollide>
    </gazebo>
    </gazebo>
    <gazebo reference="${prefix}left_inner_finger_pad">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}robotiq_arg2f_base_link">
      <selfCollide>true</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>
